<%- include ('./includes/header'); %>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container text-center text-md-left" data-aos="fade-up">
    <h1>Welcome to MALVERNBRIGHT</h1>
    <h2>A talented designer & developer making Websites and Software that suits your needs.</h2>
    <a href="/about" class="btn-get-started scrollto">Get to know me</a>
  </div>
</section>
<!-- End Hero -->

<main id="main">

  <!-- ======= Steps Section ======= -->
  <section id="steps" class="steps section-bg">
    <div class="container">

      <div class="row no-gutters">

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
          <span>01</span>
          <h4>Web Development</h4>
          <p>I write <code>code</code> for your website, suiting your business needs.</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="100">
          <span>02</span>
          <h4>CMS (Content Management Systems)</h4>
          <p>Do you need a CMS for your company? Get in touch today.</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="200">
          <span>03</span>
          <h4>Mobile Apps</h4>
          <p>Custom/tailor-made mobile apps (Android and iOS)</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="300">
          <span>04</span>
          <h4>Desktop Apps</h4>
          <p>Made specifically for your desktop devices (running Windows, Linux, Mac OS)</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="400">
          <span>05</span>
          <h4>SEO</h4>
          <p>Need better ranking and visibility for your website(s). I've got time for that 😉</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="500">
          <span>06</span>
          <h4>Consultation Services</h4>
          <p>Wanna know how your sites/apps perform? I still have time for that 😉</p>
        </div>

      </div>

    </div>
  </section>
  <!-- End Steps Section -->
</main>
<!-- End #main -->

<%- include ('./includes/footer'); %>