<%- include ('./includes/header'); %>
    <main id="main">
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Services</h2>
                    <p>On a serious note, I provide a lot of IT related services. Some of them are listed below...</p>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                        <div class="icon-box icon-box-pink">
                            <h4 class="title"><a href="">Web Development</a></h4>
                            <p class="description">I develop bot small and large scale websites, specifically for you as per your requirements!</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box icon-box-cyan">
                            <h4 class="title"><a href="">Software Development</a></h4>
                            <p class="description">I develop software (this includes mobile apps and desktop apps, again tailor-made for you)</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-green">
                            <h4 class="title"><a href="">Graphic Design</a></h4>
                            <p class="description">I also have a nice touch on graphics related projects.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box icon-box-blue">
                            <h4 class="title"><a href="">Mentoring/Tutoring</a></h4>
                            <p class="description">Should you need a mentor or a tutor, I'm available.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Services Section -->
    </main>
    <!-- End #main -->

    <%- include ('./includes/footer'); %>